:root {
  --gradient-color-1: #722caf;
  --gradient-color-2: #322a96;
  --whiteColor: #ffffff;
}
.btn {
  display: inline-block;
  color: var(--whiteColor);
  background: linear-gradient(
    90deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  );
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 15px;
  img {
    margin-right: 6px;
  }
}
