:root {
  --text-color: #aaaaaa;
  --purpleColor: #6e2db4;
}
.icons {
  margin-bottom: 0;
  display: flex;
  &__item {
    &__link {
      display: inline-block;
      height: 30px;
      min-width: 30px;
      text-align: center;
      margin-right: 24px;
      border: 1px solid var(--text-color);
      transition: all 0.3s;
      &:hover {
        background-color: var(--purpleColor);
        border-color: transparent;
      }
    }
  }
}
