:root {
  --whiteColor: #ffffff;
  --blackColor: #000000;
}

.header__menu {
  display: flex;
  align-items: center;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  padding: 15px 72px;
  &__collapse {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  ul {
    display: flex;
  }
}

@media (min-width: 1300px) {
  .navbar__toggler {
    display: none;
  }
  .header__menu__collapse {
    display: flex;
  }
}

@media (max-width: 1299px) {
  .header__menu {
    position: relative;
    justify-content: space-between;
    &__collapse {
      position: absolute;
      right: 0;
      left: 0;
      top: 100%;
      align-items: flex-start;
      flex-direction: column;
      z-index: 5000;
      padding: 15px 72px;
      background: #000;
    }
    ul {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 575px) {
  .header__menu {
    padding: 15px 50px;
    .logo {
      max-width: 80%;
    }
  }
}
