.header_menu{
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 15px 72px;
}
.collapse_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.header_menu button{
    padding: 15px;
    margin-left: 6px;
}
.header_menu ul{
    display: flex;
    margin-bottom: 0;
}
/* .menu_btn{
    min-width: 191px;
    background: linear-gradient(90deg, #722CAF 0%, #322A96 100%);
    text-align: center;
    padding: 15px;
    margin-left: 6px;
    display: block;
} */
.soc_icon a{
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    margin-right: 24px;
    background-color: transparent;
    border: 1px solid #AAAAAA;
    transition: all .3s;
}
.soc_icon a:hover{
    background-color: #6E2DB4;
    border-color: transparent
}
.menu_list{
    margin-right: 30px;
}
.menu_list li{
    margin-right: 48px;
}
.menu_list li a{
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding-right: 0;
    padding-left: 0;
}
.d_flex{
    display: flex;
}
.d_none{
    display: none;
}

@media (min-width: 1300px) {  
 .menu_bar{
     display: none;
 }
 .collapse_menu{
     display: flex;
 }

}
@media (max-width: 1299px){
    .header_menu{
        position: relative;
        justify-content: space-between;
    }
    .collapse_menu{
        /* display: none; */
        position: absolute;
        align-items: flex-start;
        padding: 15px 72px;
        left: 0;
        bottom: -314px;
        flex-direction: column;
        z-index: 5000;
        right: 0;
        background: #000;
    }
    .menu_list{
        flex-direction: column;
    }
    .header_menu ul{
        margin-bottom: 50px;
    }
}
@media (max-width: 575px){
    .logo{
        max-width: 80%;
    }
    .header_menu{
        padding: 15px 50px;
    }
}
