.header{
    background-image: url('../../assets/Header-bg.jpg');
    height: 720px;
    color: #fff;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    padding-top: 42px;
}

.header h1{
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    max-width: 500px;
}
.count_container{
    padding: 27px 112px;
    background-color: #6E2DB4;
    /* max-width: 854px; */
}

.count_container  ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}
.count_container  ul li{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.features_sec{
    padding: 200px 183px;
    background-color: #000;
    color: #AAAAAA;
}
.form_card{
    color: #fff;
    background-color: #272727;  
    max-width: 442px;
    margin-left: auto;
    padding: 40px 30px 30px 30px; 
}
.form_card h2{
    margin-bottom: 30px;
}
.card_info_container{
    padding: 11px;
    border: 1px solid #AAAAAA;
}
.card_info_container, .counter_container, .counter, .total{
    display: flex;
    justify-content: space-between;
}
.card_info_container img{
    max-width: 87px;
    height: 87px;
    object-fit: cover;
}
.card_info{
    text-align: right;
}
.card_info p{
    margin-bottom: 0;
}
.card_info h5{  
    margin-top: 8px;
    margin-bottom: 8px;
}
.card_info h5, .total_price{
    font-size: 18px;
    font-weight: 700;
}
.counter_container{
    background-color: #6E2DB4;
    margin-top: 31px;
    margin-bottom: 23px;
    padding: 8px 12px;
}
.counter_container button{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}
.counter{
    align-items: center;
}
.total{
    padding: 10px;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 21px;
}
.form_card_btn{
    width: 100%;
    padding: 10px;
}
.info_sec{
    margin-top: 200px;
    align-items: flex-end;
}
.guests{

}
.guests_sec{
   background-color: #272727; 
   padding: 65px 72px;
}
.guests_sec_info{
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 83px;
}
.guests_sec_info p{
    color: #AAAAAA;
    margin-bottom: 34px;
}
.guests_sec_info  button, .form_card_btn{
    text-align: center;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #722CAF 0%, #322A96 100%);
    text-transform: uppercase;
}
.guests_sec_info  button{
    padding: 11px 29px;
}
.roadmap_sec{
    padding: 190px 182px;
    background-color: #000;
}
.roadmap_sec h2{
    text-align: center;
    margin-bottom: 139px;
}
.roadmap_cards::before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);    
    height: -webkit-fill-available;
    width: 5px;
    background: linear-gradient(90deg, #722CAF 0%, #322A96 100%);
}
.faq_sec{
    background-color: #000;
    padding: 182px 200px;
}