.header{
    background-image: url('../../../../assets/Header-bg.jpg');
    height: 720px;
    color: #fff;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    padding-top: 42px;
}

.header h1{
    font-size: 64px;
    line-height: 73px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    max-width: 500px;
}
.count_container{
    padding: 27px 112px;
    background-color: #6E2DB4;
    /* max-width: 854px; */
}
.count_container .ant-statistic-content{
    text-align: center;
}
.count_container  ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}
.count_container  ul li{
    display: flex;
    align-items: baseline;
}
.count_container span{
    margin-right: 5px;
}
.count_container  ul li, .count_container span{
  color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

@media (max-width: 575px){
    .header h1{
        font-size: 30px;
    }
}