footer{
    background-color: #272727;
    color: #fff;
    padding: 65px 182px;
}
footer a{
    color: #fff;
}

footer h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.footer_logo{
    max-width: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer_menu, footer .soc_icons{
    list-style-type: none;
    padding: 0;
}
.footer_menu li{
    margin-bottom: 47px;
    text-transform: uppercase;
}
footer .soc_icons{
    margin-bottom: 33px;
    display: flex;
}

.copy{
    color:#AAAAAA;
}
footer h4{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}


footer button{
    margin-left: 0;
    margin-bottom: 42px;
    padding: 15px;
}

@media (max-width: 992px){
    footer{
        padding: 50px;
    }
}

@media (max-width: 575px){
    .footer_menu li{
        margin-bottom: 25px;
    }
    .footer_logo{
        max-width: 80%;
    }
}